.content__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #73ccfb;
  height: 100vh;
  box-sizing: border-box;
}

.content {
  display: flex;
  max-width: 900px;
  min-height: 250px;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
  font-size: 21px;
  color: #5c5c5c;
  font-weight: 400;
  line-height: 150%;
}

.main-text__wrapper {
  display: flex;
}

.statistic {
  width: 20%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.start-again__wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px 0;
}

.start-again__icon {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/restart.png");
  background-size: cover;
  margin-right: 10px;
}

.start-again__text {
  color: #a6cc2b;
  font-size: 12px;
  line-height: 80%;
  text-transform: uppercase;
}

